.main-container {
  width: 80vw;
  padding: 0% 10%;
}


.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1% 0%;
}

.bar-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.color-red {
  background: red;
}

.color-green {
  background: green;
}

.color-blue {
  background: blue;
}