.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bar-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.color-red {
  background: red;
}

.color-green {
  background: green;
}

.color-blue {
  background: blue;
}