.color-bar {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.color-bar-vertical-0 {
  height: 0%;
}

.color-bar-vertical-10 {
  height: 10%;
}

.color-bar-vertical-20 {
  height: 20%;
}

.color-bar-vertical-30 {
  height: 30%;
}

.color-bar-vertical-40 {
  height: 40%;
}

.color-bar-vertical-50 {
  height: 50%;
}

.color-bar-vertical-60 {
  height: 60%;
}

.color-bar-vertical-70 {
  height: 70%;
}

.color-bar-vertical-80 {
  height: 80%;
}

.color-bar-vertical-90 {
  height: 90%;
}